@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply overflow-y-auto;
    background-color: #242424;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100%;
    --navbar-height: 64px;
}
